<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatgpt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<form method="POST" action="{% url 'chatgpt:index' %}">
    {% csrf_token %}
    <input type="text" name="user_input">
    <button type="submit">Submit</button>
    {% if res %}
        <br/>
        <p>You : {{ utter }}</p>
        <br/>
        <p>Bot : {{ res }}</p>
        <br/>


        <div id="map" style="width:600px;height:400px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b04a6aee7ba7937225b29c3a059f8b4b"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng({{ lat }}, {{ lon }}),
        level: 1
    };
    var map = new kakao.maps.Map(container, options);

    var positions = new Array();


    latlng = new kakao.maps.LatLng({{lat}}, {{lon}});
    positions.push({title: '{{ restname }}', latlng: latlng})


var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

for (var i = 0; i < positions.length; i ++) {

    var imageSize = new kakao.maps.Size(24, 35);

    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀 표시
        image : markerImage // 마커 이미지
    });
}
</script>
    {% else %}
        <p>No result yet</p>
    {% endif %}
</form>
</body>
</html>